/*Resetando configurações pré-definidas do navegador e estilizando conteúdo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/*Estilizando Card de notícias*/
/*Box Shadow by: cssgenerator.org*/
.card {
    width: 80%;
    box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Estilizando card esquerdo*/
.card_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

/*Estilizando H1 do card_left*/
.card_left > a {
    margin-top: 15px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*Estilizando p do card_left*/
.card_left > p {
    font-size: 15px;
}

/*Estilizando span do card_left*/
.card_left > span {
    font-weight: 400;
}